#mynetwork {
    width: 800px;
    height: 97vh;
    border: 1px solid lightgray;
}

#webtitle{
    color: white;
    font-family: arial, serif;
    font-size: xx-large;
    background-color: navy;
    text-align: center;
}